button {
  border: none;
  outline: none;
  cursor: pointer;
}
body {
  text-align: center;
}
.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background: url("img/background.png") center/cover;
  border-radius: 20px;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  opacity: 0.4;
}

.playboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.playboard__button {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px;

  border: 3px solid black;
  transition: all 300ms ease-out;
}

.playboard__button:hover {
  transform: scale(1.1);
}

.playboard__timer {
  margin: auto;
  background-color: wheat;
  border-radius: 8px;
  border-style: solid;
  font-size: 32px;
  padding: 0 24px 0 24px;
  margin-bottom: 5px;
}

.playboard__score {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: orange;
  font-size: 40px;
  color: white;
  border-radius: 50%;
  border-style: solid;
  border: 3px solid black;
}

.resultbox {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 40%;
  height: 30%;
  background-color: #00000090;
  transform: translateY(-150%);
}

.resultbox__hide {
  display: none;
}

.resultbox__re {
  margin: auto;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: thistle;
  margin-top: 16px;
}

.resultbox__message {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
