:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border radious */
  --border-radious: 4px;

  /* animation */
  --animaiton-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #626abf;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 100px;
  height: 100px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--border-radious);
}

.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: #c7c9ff;
  color: black;
}

#home {
  background: url("imgs/projects/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radious);
  color: var(--color-white);
}

.home__contact:hover {
  color: var(--color-black);
}

.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;

  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid #a0a7f2;
  border-radius: 50%;
  margin-bottom: 16px;
  color: #a0a7f2;
}

.major__icon i {
  transition: all var(--animaiton-duration) ease;
}

.major__icon:hover .fa-html5 {
  color: red;
  transform: rotate(-30deg) scale(1.1);
}

.major__icon:hover .fa-css3 {
  color: rgb(83, 131, 236);
  transform: rotate(-30deg) scale(1.1);
}

.major__icon:hover .fa-js-square {
  color: var(--color-orange);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__discription {
  color: var(--color-dark-grey);
}
.major__discription {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
}

.school img {
  width: 18 0px;
  height: 100px;
}

.school__discription {
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

#skills {
  background-color: #f2e1a2;
}

.skillset__title {
  color: white;
}

.skillset {
  display: flex;
  background-color: #c7c9ff;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: #626abf;
  padding: 20px 40px;
}

.skill__discript {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 32px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: #f5efcb;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: #9498f2;
}

.tools,
.etc {
  padding: 20px;
}

.etc span {
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radious);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: #c7c9ff;
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animaiton-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description h3 {
  color: white;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animaiton-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

#contact {
  background-color: #626abf;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links .fa-github:hover {
  transform: scale(1.1);
  color: black;
  transition: all var(--animaiton-duration) ease-in;
}

.contact__links .fa-instagram:hover {
  transform: scale(1.1);
  color: rgb(204, 10, 204);
  transition: all var(--animaiton-duration) ease-in;
}
