body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.D-Day__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.clock-number {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.clock-word {
  display: flex;
  justify-content: space-around;
}
